<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaudRate" value="9600"/>
    <add key="PortName" value="COM12"/>
    <add key="DataBits" value="8"/>
    <add key="StopBits" value="1"/>
    <add key="WriteFilePath" value="E:\WriteMe.txt"/>
    <add key="susername" value="root"/>
    <!--treesuser-->
    <add key="spassword" value="trees"/>
    <!--treespass-->
    <add key="sserver" value="localhost"/>
    <!--198.71.58.150,87.106.184.4-->
    <add key="sdb" value="mi"/>
    <add key="DateFormat" value="%d/%m/%Y"/>
    <add key="DateTimeFormat" value="%d/%m/%Y %h:%i:%s %p"/>
    <add key="DateTimeFormat24" value="%d/%m/%Y %H%i"/>
    <add key="BranchID" value="42"/>

  </appSettings>
  <connectionStrings>
    <add name="miEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=trees;database=mi&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
