<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="susername" value="root" />
    <!--treesuser-->
    <add key="spassword" value="trees" />
    <!--treespass-->
    <add key="sserver" value="localhost" />
    <!--198.71.58.150,87.106.184.4-->
    <add key="sdb" value="mi" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="BranchID" value="2" />
    <add key="WebServicebasePath" value="http://192.168.22.16:818" />
    <!--http://olivecliq.com-->
    <!--Serial Port 1 Settings-->
    <add key="PortName_1" value="COM3"/>
    <add key="BaudRate_1" value="9600"/>
    <add key="DataBits_1" value="8"/>
    <add key="StopBits_1" value="1"/>
    <add key="RequireOpen_1" value="Y"/>
    <!--Serial Port 1 Settings end-->

    <!--Serial Port 2 Settings-->
    <add key="PortName_2" value="COM1"/>
    <add key="BaudRate_2" value="9600"/>
    <add key="DataBits_2" value="8"/>
    <add key="StopBits_2" value="1"/>
    <add key="RequireOpen_2" value="N"/>
    <!--Serial Port 2 Settings end-->

    <!--Serial Port 3 Settings-->
    <add key="PortName_3" value="COM1"/>
    <add key="BaudRate_3" value="9600"/>
    <add key="DataBits_3" value="8"/>
    <add key="StopBits_3" value="1"/>
    <add key="RequireOpen_3" value="N"/>
    <!--Serial Port 3 Settings end-->

    <!--Serial Port 4 Settings-->
    <add key="PortName_4" value="COM1"/>
    <add key="BaudRate_4" value="9600"/>
    <add key="DataBits_4" value="8"/>
    <add key="StopBits_4" value="1"/>
    <add key="RequireOpen_4" value="N"/>
    <!--Serial Port 4 Settings end-->

    <!--Serial Port 5 Settings-->
    <add key="PortName_5" value="COM1"/>
    <add key="BaudRate_5" value="9600"/>
    <add key="DataBits_5" value="8"/>
    <add key="StopBits_5" value="1"/>
    <add key="RequireOpen_5" value="N"/>
    <!--Serial Port 5 Settings end-->

    <!--Serial Port 6 Settings-->
    <add key="PortName_6" value="COM1"/>
    <add key="BaudRate_6" value="9600"/>
    <add key="DataBits_6" value="8"/>
    <add key="StopBits_6" value="1"/>
    <add key="RequireOpen_6" value="N"/>
    <!--Serial Port 6 Settings end-->

    <!--Serial Port 7 Settings-->
    <add key="PortName_7" value="COM1"/>
    <add key="BaudRate_7" value="9600"/>
    <add key="DataBits_7" value="8"/>
    <add key="StopBits_7" value="1"/>
    <add key="RequireOpen_7" value="N"/>
    <!--Serial Port 7 Settings end-->
  </appSettings>
  <connectionStrings>
    <add name="miEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=trees;database=mi&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
   
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>