<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IpAddress" value="10.30.15.26"/>
    <!--127.0.0.1-->
    <add key="Port" value="5555"/>
  </appSettings>
    <connectionStrings>
    <add name="miEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=trees;database=mi&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>