<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="ClientID" value="2"/>
    <add key="BaudRate" value="9600"/>
    <add key="PortName" value="COM1"/>
    <add key="DataBits" value="8"/>
    <add key="StopBits" value="1"/>
    <add key="WriteFilePath" value="D:\WriteMe.txt"/>
    <add key="IpAddress" value="192.168.10.190"/><!--127.0.0.1-->
    <add key="Port" value="5555" />
    <add key="WebServicebasePath" value="https://rmi.olivecliq.com/oliveapi/web/interfacing/save-data" />
    <!--https://dev2.olivecliq.com/oliveapi/web/interfacing/save-data-->
    <add key="AuthorizationHeader" value="Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImp0aSI6IjRmMWcyM2ExMmFhIn0.eyJpc3MiOiJodHRwOlwvXC9vbGl2ZWNsaXEuY29tIiwiYXVkIjoiaHR0cDpcL1wvb2xpdmVjbGlxLmNvbSIsImp0aSI6IjRmMWcyM2ExMmFhIiwiaWF0IjoxNTUzODM0ODcyLCJ1aWQiOjI2MDIsImNfdHlwZSI6Ik0iLCJiaWQiOiI0MiIsImludiI6ImRldiJ9.bImNalSNW74LjV_f-sf71gl2hd3rJYdnkXxc7y7YXjU" />
    <!--eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImp0aSI6IjRmMWcyM2ExMmFhIn0.eyJpc3MiOiJodHRwOlwvXC9vbGl2ZWNsaXEuY29tIiwiYXVkIjoiaHR0cDpcL1wvb2xpdmVjbGlxLmNvbSIsImp0aSI6IjRmMWcyM2ExMmFhIiwiaWF0IjoxNTUyMjkwMTMwLCJ1aWQiOjI1MzUsImNfdHlwZSI6Ik0iLCJiaWQiOiI0MiIsImludiI6ImRldiJ9.62A4687vNWmReHy3UUgFWypKxhcVBkiqj9gWb8xqDPE-->
    <add key="susername" value="root"/>
    <!--treesuser-->
    <add key="spassword" value="trees"/>
    <!--treespass-->
    <add key="sserver" value="localhost"/>
    <!--198.71.58.150,87.106.184.4-->
    <add key="sdb" value="mi"/>
    <add key="DateFormat" value="%d/%m/%Y"/>
    <add key="DateTimeFormat" value="%d/%m/%Y %h:%i:%s %p"/>
    <add key="DateTimeFormat24" value="%d/%m/%Y %H%i"/>    
    <add key="BranchID" value="42"/>
    <add key="IsUpdateRemoteDatabase" value="Y"/>
    <add key="ResultsToSendInOneTime" value="200"/>
  </appSettings>
  <connectionStrings>
    <add name="miEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=trees;database=mi&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
